<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="CCC-Infrastructure" version="1.3.14" targetFramework="net462" />
  <package id="Coypu" version="2.14.0" targetFramework="net462" />
  <package id="Dapper" version="1.50.4" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net462" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net462" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net462" />
  <package id="MySQLConnection" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.10.1" targetFramework="net462" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net462" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net462" />
  <package id="Pickles.CommandLine" version="2.18.0" targetFramework="net462" />
  <package id="RestSharp" version="106.3.1" targetFramework="net462" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="Zukini.API" version="1.2.7" targetFramework="net462" />
  <package id="Zukini.UI" version="1.2.7" targetFramework="net462" />
</packages>